@import url('https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://www.creativefabrica.com/product/dongtao/');

*{
    margin: 0;
    padding: 0;
    font-family: "Platypi";
    
}
body{
    background-color: #0085ff;
    background-image: url(/IMG/fundo2.jpeg);
}
:root{
    /* --COR1: #094379;
    --COR2:#F8E505; */
    --COR3: #EF3220;
    --COR4: #2BBD6E;
    }

 .display{
    display: flex;
    justify-content: space-between;
    
} 
.oi{
    padding-left: -2px
}
nav a {
    text-decoration: none;
    color: #ffffff;
   
}
h1{
    padding-bottom: 50px;
}
li{
    color: black;
}

nav a:hover{
    color:#0085ff;
}

nav{
    
    background-color: #0085ff;
    margin-top: 2px;
}

nav img{
    height: 40px;
    
}
h1{
    text-align: center;
    padding-top: 55px;
}
.caixa {
    /* margin: 30px;
    padding: 55px;
    /* padding-top: 5px;
    padding-left: 400px; */
    /* overflow: auto; */
    /* width: 500px; */
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,.05), 0 1px 4px rgba(0,0,0,.05);
    padding: 1rem;
    display: inline-block;
    width: 100%;
    border-radius: 5px;
    max-width: 715px;
    text-align: center;
    margin: 320px;
    margin-top: 10px;
  
}

.espaco{
    margin-top: 30px;
}

.caixa  ul{
    padding-left: 50px;
    color: #000000;
    padding-top: 15PX;
    text-align: center;
}
.l5 ul li {
    padding-left: 100px;
}
h3 {
    font-size: 20px;
    padding-top: 15PX;
}
p{
    line-height: 30px;
    color: #000000;
    padding-top: 15PX;
    text-align: justify;
}

h2{
    color: var(--COR1);
}
h1{
    color: #1C72C2;
}

 h2 {
    color: var(--COR3);
}


.banner {
    background-color:   hsla(209, 100%, 50%, 0.658); /* Cor de fundo do banner com transparência */
    color: #ffffff; /* Cor do texto */
    padding: 20px; /* Espaçamento interno */
    /* margin-left: 350px; */
    border-radius: 10px; /* Arredondamento dos cantos */
    text-align: center; /* Centralizar conteúdo */
   /* max-width: 50%;  Largura máxima do banner */
    margin-top: 2px;
    transition: box-shadow 0.3s, transform 0.3s; /* Adicionando transição para a sombra e o efeito de zoom */

  }
  .oi{
    padding-right: 102px
}
  .banner:hover {
    box-shadow: 0px 10px 20px #2bbd6f8a; /* Sombra ao passar o mouse */
    transform: scale(1.05); /* Efeito de zoom ao passar o mouse */
  }
  
  .banner-content {
    margin: 0 auto; /* Centralizar o conteúdo */
    display: flex; /* Layout em linha */
    justify-content: space-between; /* Espaço entre os itens */
    align-items: center; /* Centralizar verticalmente */
  }
  
  .text-content {
    max-width: 50%; /* Largura máxima do conteúdo de texto */
  }
  
  .image-content {
    max-width: 50%; /* Largura máxima da imagem */
  }

  
  .image-content img {
    width: 100%; /* Largura da imagem */
    height: auto; /* Altura automática para manter a proporção */
    border-radius: 10px; /* Arredondar cantos da imagem */
  }

div.localizacao{
    display: flex;
    justify-items: space-between;
    align-items: center;
    text-align: center;
    padding-left: 280px;
}

div.localizacao img {
    height: 30px;
}
.l6{
    text-align: center;
}
p{
    text-align: center;
}
footer{
    text-align: center;
    color: rgb(0, 0, 0);
}
